[Unit]
Description=FastAPI Web API for Webinterface and Apps
Requires=network.target checkuserconfig.service
After=checkuserconfig.service

[Service]
Type=simple
ExecStart=/bin/python /opt/api/startup_api.py
Restart=always

[Install]
WantedBy=multi-user.target