[Unit]
Description=FastAPI Web API for Webinterface and Apps
Requires=network.target checkuserconfig.service
After=checkuserconfig.service
ConditionPathExists=/opt/api

[Service]
Type=simple
ExecStart=/opt/api/main.py
Restart=always
